header {
    display: flex;
    background: white;
    justify-content: space-between;
   /* border: 3px solid blueviolet; */
}

.headerLinks {
   /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 0px 0px;
}

.headerLinks a {
    text-decoration: none;
    color: black;
}

.headerLinks a:hover {
    background: #DEE9D3;
    /* color: chocolate; */
    color: darkblue;
}

.sipLogo {
    width: 50px;
    height: 50px;
}

.facebookLogo {
    width: 30px;
    height: 30px;
}

.instagramLogo {
    width: 30px;
    height: 30px;
}

.headerLogos {
    width: 8%;
    display: flex;
    justify-content: space-around;
    margin: 8px 0px 0px 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%
}

.sticky + .content {
    padding-top: 102px;
}

.section1 {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: #DEE9D3;
    display: grid;
    /*border: 3px solid navy;*/
}

.section1 h1 {
    color: midnightblue;
}

.section1BothParts {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hourInfo1_2 {
    width: 50%;
    justify-content: left;
    /*border: 3px solid red;*/
}

.hourInfo1_2 p {
    font-size: 30px;
}

.hourInfo1_2 h2 {
    font-size: 30px;
}

.locationInfo2_2 {
    width: 50%;
    justify-content: right;
    /*border: 3px solid blue;*/
    padding: 40px 0px 0px 0px;
}

.section2 {
    background: black;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 3px solid black;
}

.section2 h1 {
    color: white;
}

.section2BothParts {
    display: flex;
}

.reservationInfo1_2 {
    width: 50%;
    background: white;
}

.reservationInfo1_2 h2 {
    color: black;
}

.reservationInfo2_2 {
    width: 50%;
    background: #DEE9D3;
}

.reservationInfo2_2 h2 {
    color: #bc7373;
    border: 3px solid #bc7373;
    width: 35%;
    height: 35%;
    padding: 10px;
}

.reservationInfo2_2 h2:hover {
    background: #bc7373;
    color: white;
}