header {
    display: flex;
    background: white;
    justify-content: space-between;
   /* border: 3px solid blueviolet; */
}

.headerLinks {
   /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 0px 0px;
}

.headerLinks a {
    text-decoration: none;
    color: black;
}

.headerLinks a:hover {
    background: #DEE9D3;
    /* color: chocolate; */
    color: darkblue;
}

.sipLogo {
    width: 50px;
    height: 50px;
}

.facebookLogo {
    width: 30px;
    height: 30px;
}

.instagramLogo {
    width: 30px;
    height: 30px;
}

.headerLogos {
    width: 8%;
    display: flex;
    justify-content: space-around;
    margin: 8px 0px 0px 0px;
}