header {
    display: flex;
    background: white;
    justify-content: space-between;
   /* border: 3px solid blueviolet; */
    width: 100%;
    z-index: 1000;
}

.headerLinks {
   /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 0px 0px;
}

.headerLinks a {
    text-decoration: none;
    color: black;
}

.headerLinks a:hover {
    background: #DEE9D3;
    /* color: chocolate; */
    color: darkblue;
}

.sipLogo {
    width: 50px;
    height: 50px;
}

.facebookLogo {
    width: 30px;
    height: 30px;
}

.instagramLogo {
    width: 30px;
    height: 30px;
}

.headerLogos {
    width: 8%;
    display: flex;
    justify-content: space-around;
    margin: 8px 0px 0px 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%
}

#header-placeholder {
    height: 0; /* Initially set to 0, will be adjusted by JavaScript */
    display: none;
}

/*.sticky + .content {*/
/*    padding-top: 102px;*/
/*}*/

.section1 {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: #DEE9D3;
    display: grid;
    /*border: 3px solid navy;*/
}

.section1 h1 {
    color: midnightblue;
}

.section1BothParts {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hourInfo1_2 {
    width: 50%;
    justify-content: left;
    /*border: 3px solid red;*/
}

.hourInfo1_2 p {
    font-size: 30px;
}

.hourInfo1_2 h2 {
    font-size: 30px;
}

.locationInfo2_2 {
    width: 50%;
    justify-content: right;
    /*border: 3px solid blue;*/
    padding: 40px 0px 0px 0px;
}

.section2 {
    background: #854e4e;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-top: 3px solid black;
}

.section2 h1 {
    color: white;
}

.section2BothParts {
    display: flex;
}

.reservationInfo1_2 {
    width: 50%;
    background: white;
    padding: 25px 0px 25px 0px;
}

.reservationInfo1_2 h2 {
    color: black;
}

.reservationInfo2_2 {
    width: 50%;
    background: #DEE9D3;
    padding: 25px 0px 25px 0px;
}

.reservationInfo2_2 h2 {
    color: #bc7373;
    border: 3px solid #bc7373;
    width: 35%;
    height: 35%;
    padding: 10px;
    transition:
        color 0.5s,
        background-color 0.5s;
}

.reservationInfo2_2 h2:hover {
    background: #bc7373;
    color: white;
    border: 3px solid white;
}

.reservationInfo2_2 a {
    text-decoration: none;
}

.section3 {
    /*background: #DEE9D3;*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*border: 3px solid #DEE9D3;*/
    display: flex;
    width: 100%;
}

.section3Part1_2 {
    width: 50%;
    background: white;
}

.section3Part2_2 {
    width: 50%;
    background: white;
    /*border: 3px solid #DEE9D3;*/
}

.section3Part2_2 h1 {
    color: #854e4e;
    padding: 50px 0px 0px 0px;
}

.section3Part2_2 h2 {
    color: midnightblue;
    padding: 50px 0px 0px 0px;
}

.bottomBar {
    background: grey;
    position: sticky;
}

.bottomBar h2 {
    color: white;
}

.bottomBar h3 {
    color: #eaefef;
}

.topBothParts {
    display: flex;
    justify-content: space-around;
}

.topBotPart {
    justify-content: center;
    padding: 0px 0px 7px 0px;
}

.topPart1_2 {
    padding: 20px 0px 0px 0px;
}

.topPart1_2BothBotParts {
    display: grid;
}

.topPart2_2BothParts {
    display: grid;
}

.footerReservation {
    width: 100%;
    padding: 75px 0px 25px 0px;
}

.footerReservation a {
    text-decoration: none;
}

.footerReservation h2 {
    color: white;
    border: 3px solid white;
    padding: 10px;
    transition:
            color 0.5s,
            background-color 0.5s;
}

.footerReservation h2:hover {
    background: white;
    color: #808080FF;
}

.section4 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
}

.section4Part1_2 {
    width: 50%;
    background: #DEE9D3;
}

.section4Part2_2 {
    width: 50%;
}

.aboutImg img{
    width: 100%;
}

.aboutSection1 {
    padding: 50px 0px 50px 0px;
}

.aboutSection1Header {
    padding: 20px 0px 20px 0px;
}

.aboutSection1Content {
    padding: 20px 0px 20px 0px;
}

.reservationSection1 {
    display: flex;
}

.reservationSection1Part1_2 {
    width: 50%;
    background: #DEE9D3;
}

.reservationSection1Part2_2 {
    width: 50%;
}

.reservationButton {
    width: 100%;
}

.reservationButton a {
    text-decoration: none;
}

.reservationButton h2 {
    color: white;
    background: green;
    border: 3px solid white;
    padding: 10px 10px 10px 40px;
    font-size: 50px;
    width: 55%;
    height: 55%;
    transition:
            color 0.3s,
            background-color 0.3s;
}

.reservationButton h2:hover {
    background: white;
    color: green;
    border: 3px solid green;
}

.reservationSection2 {
    display: flex;
}

.reservationSection2Part1_2 {
    width: 50%;
}

.reservationSection2Part1_2 img {
    height: 100%;
}

.reservationSection2Part2_2 {
    width: 50%;
    background: #DEE9D3;
}

.reservationSection1Part2_2 img {
    width: 100%;
    height: 100%;
}

.mtgSection1 {

}

.mtgSection1Img {
    position: relative;
    text-align: center;
    color: white;
}

.mtgSection1Img img{
    opacity: 100%;
    height:100%;
    filter: brightness(40%);
}

.weeklyEvents {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weeklyEvents h1 {
    padding: 0px 0px 90px 0px;
    font-size: 70px;
}

.weeklyEvents h3 {
    font-size: 30px;
}

.mtgSection2Part1_3 {
    background: white;
    padding: 30px 0px 0px 170px;
    display: flex;
}

.mtgSection2Part1_3 h3 {
    font-size: 25px;
}

.mtgSection2Header {
    padding: 30px 0px 50px 170px;
}

.mtgSection2Header h1{
    color: black;
}

.parkSlope {
    display: grid;
    margin: 0px;
    padding: 0px;
}

.parkSlope a {
    text-decoration: none;
}

.mtgSection2Monday {
    width: 50%;
    height: 100%;
}

.parkSlope h2 {
    color: white;
    background: black;
    border: 3px solid white;
    padding: 10px 15px 10px 30px;
    font-size: 15px;
    width: 14%;
    height: 33%;
    transition:
            color 0.3s,
            background-color 0.3s;
}

.parkSlope h2:hover {
    background: white;
    color: black;
    border: 3px solid black;
}

.mtgSection2Tuesday {
    width: 50%;
    height: 100%;
    padding: 0px 0px 0px 170px;
}

.mtgSection2Part2_3 {
    background: #DEE9D3;
    padding: 30px 0px 0px 170px;
    display: flex;
}

.mtgSection2Part2_3 h3 {
    font-size: 25px;
}

.mtgSection2Wednesday {
    width: 50%;
    height: 100%;
}

.mtgSection2Thursday {
    width: 50%;
    height: 100%;
    padding: 0px 0px 0px 170px;
}

.mtgSection2Part3_3 {
    display: flex;
    background: white;
    padding: 30px 0px 0px 170px;
}

.mtgSection2Part3_3 h3 {
    font-size: 25px;
}

.mtgSection2Friday {
    width: 50%;
    height: 100%;
}

.mtgSection2Saturday {
    width: 50%;
    height: 100%;
    padding: 0px 0px 0px 170px;
}

.joinDiscord {
    padding: 50px 0px 0px 0px;
}

.joinDiscord a{
    text-decoration: none;
}

.joinDiscord h2 {
    color: white;
    background: black;
    border: 3px solid white;
    padding: 10px 15px 10px 25px;
    font-size: 25px;
    width: 14%;
    height: 33%;
    transition:
            color 0.3s,
            background-color 0.3s;
}

.joinDiscord h2:hover {
    background: white;
    color: black;
    border: 3px solid black;
}

.menuSection1 {
    display: grid;
    height: 100%;
    width: 100%;
    background: #ececec;
}


.menuItems1_2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menuItems1_2 h2 {
    color: midnightblue;
}

.menuItems2_2 {
    display: grid;
}

.coffee {
    background: #DEE9D3;
    /*height: 500px;*/
    padding: 50px 0px 0px 0px;
    margin: 0px;
    height: 100%;
}

.slider {
    display: flex;
    justify-content: center;
}

#container {
    padding: 0px 40px 0px 40px;
}

.coffeeBothSections {
    display: flex;
    height: 88%;
    width: 100%;
    padding: 50px 0px 0px 0px;
}

.coffeeSection1_2 {
    width: 40%;
    height: 100%;
    padding: 25px 25px 25px 170px;
    border-right: 3px solid white;
}

.coffeeSection2_2 {
    width: 50%;
    height: 100%;
    padding: 25px;
    border-left: 3px solid white;
}

.coffeeSection2_2 img{
    width: 100%;
}

.specialDrinks {
    height: 500px;
    padding: 50px 0px 0px 0px;
    background: white;
}

.boba {
    background: #DEE9D3;
    height: 500px;
    padding: 50px 0px 0px 0px;
}

.hotBites {
    height: 500px;
    padding: 50px 0px 0px 0px;
    background: white;
}

.sandwiches {
    background: #DEE9D3;
    height: 500px;
    padding: 50px 0px 0px 0px;
}

.seasonMenu {
    height: 500px;
    padding: 50px 0px 0px 0px;
    background: white;
}

.beerWine {
    background: #DEE9D3;
    height: 500px;
    padding: 50px 0px 0px 0px;
}